<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <img class="star" src="/static/img/Logo.png" alt="" style="width:25px;">
                <div style="font-size:25px;"><a href="/" style="font-size:25px;text-decoration:none;color:white">EduApp</a></div>
            </div>
            <ul class="menu-items">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'speech_to_text' %}" style="color:white;background-color: transparent;text-decoration:none">Audio</a></li>
                    <li><a href="{% url 'subject_based_notes' %}" style="color:white;background-color: transparent;text-decoration:none">Ai Notes</a></li>
                    <li><a href="{% url 'dashboard' %}" style="color:white;background-color: transparent;text-decoration:none">Dashboard</a></li>
                {%else%}
                    <li><a href="{% url 'login' %}">Audio</a></li>
                    <li><a href="{% url 'login' %}">Ai Notes</a></li>
                    <li><a href="{% url 'login' %}">Dashboard</a></li>
                {%endif%}
                {% if user.is_authenticated %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration:none;color:white">
                          {{ request.user }} <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li style="color:black"><a href="{% url 'logout' %}" style="color:black;text-decoration:none;padding-left:20px;">Logout</a></li>
                      </ul>
                    </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
<!--                <li><a href="{% url 'logout' %}">{{request.user}}</a></li>-->
            </ul>
        </nav>
    </header>

    <section class="section-one">
        <div class="container">
            <div class="left-side">
                <div class="title">
                    <h1>Speech to Text
                         <img src="/static/img/star.png" alt="" class="star">
                          <br> Start recording notes.</h1>
                </div>

                <p class="p">
                    <form id="speech-data-form" class="text-center">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_subject" style="color:white">Subject:</label>
                            <input type="text" id="id_subject" name="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="id_chapter" style="color:white">Chapter:</label>
                            <input type="text" id="id_chapter" name="chapter" required>
                        </div>
                    </form>
                    <br>
                    <button id="start-btn" class="custom-btn" style="margin-right:10px">Start</button>
                    <button id="pause-resume-btn" class="custom-btn" style="margin-right:10px">Pause</button>
                    <button id="stop-btn" class="custom-btn" style="margin-right:10px" disabled>Stop</button>

                </p>

            </div>
            <div class="right-side pyramid">
                <p id="transcript" class="text-center my-5" style="color:white;text-align:justify;"></p>
            </div>
        </div>
    </section>


    <section class="footer-section">


        <div class="line"></div>

        <div class="container sides">
            <div class="left-side">
                <div class="logo">
                    <img src="/static/img/Logo.png" class="star" alt="">
                    <div>EduApp</div>
                </div>

                <p class="p">
                    We are based in Mumbai, India.<br>
                    our motto is -Ai in knowledge <br>
                    paves the way to excellence.
                </p>
            </div>
            <div class="right-side">
                <ul class="menu">
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">company</a></li>
                    <li><a href="#">help</a></li>
                    <li><a href="#">client</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">support</a></li>
                    <li><a href="#">blog</a></li>
                    <li><a href="#">services</a></li>
                    <li><a href="#">jobs</a></li>
                    <li><a href="#">docs</a></li>
                    <li><a href="#">news</a></li>
                    <li><a href="#">privacy policy</a></li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="left-side">
                <p> &copy; copyright 2024 . All rights reserved</p>
            </div>
            <div class="right-side center">
                <p>Term and Conditions</p>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        const startBtn = document.getElementById('start-btn');
        const pauseResumeBtn = document.getElementById('pause-resume-btn');
        const stopBtn = document.getElementById('stop-btn');
        const transcript = document.getElementById('transcript');
        const form = document.getElementById('speech-data-form');

        let recognition;
        let isPaused = false;
        let finalTranscript = '';

        if ('webkitSpeechRecognition' in window) {
            recognition = new webkitSpeechRecognition();
            recognition.continuous = true;
            recognition.interimResults = true;
        }

        startBtn.addEventListener('click', () => {
            stopBtn.removeAttribute('disabled');
            recognition.start();
            recognition.onresult = (event) => {
                let interimTranscript = '';
                for (let i = event.resultIndex; i < event.results.length; i++) {
                    if (event.results[i].isFinal) {
                        finalTranscript += event.results[i][0].transcript;
                    } else {
                        interimTranscript += event.results[i][0].transcript;
                    }
                }
                transcript.textContent = finalTranscript + interimTranscript;
            };
        });

        pauseResumeBtn.addEventListener('click', () => {
            if (isPaused) {
                recognition.resume();
                pauseResumeBtn.textContent = "Pause";
            } else {
                recognition.stop();
                pauseResumeBtn.textContent = "Resume";
            }
            isPaused = !isPaused;
        });

        stopBtn.addEventListener('click', () => {
            recognition.stop();
            const subject = form.elements.subject.value;
            const chapter = form.elements.chapter.value;
            console.log(subject)
            console.log(chapter)
            saveTranscript(finalTranscript, subject, chapter);
        });

        function saveTranscript(transcriptText, subject, chapter) {
            $.ajax({
                url: '{% url "save_transcript" %}',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'transcript': transcriptText,
                    'subject': subject,
                    'chapter': chapter,
                },
                success: function (response) {
                    console.log('Transcript saved:', response);
                    window.location.href = '{% url "index" %}';
                },
                error: function (error) {
                    console.log(`subject: ${subject}, chapter: ${chapter}`)
                    console.error('Error saving transcript:', error);
                },
            });
        }
    </script>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js" ></script>
<script src="/static/script.js"></script>
</html>